// Yellow theme - could do yellow on borders? - links on inside pages?

// Color variables
$black: #0e0d12;
$white: #fff;
$dpurple: #262244;
$purple: #847aae;
$turq: #b5bda1;
$beige: #ede2c7;


// Config
$color-background: $dpurple !default;
$color-dot-accent: $white !default;
$color-foreground: $black !default;
$color-title: $turq !default;
$color-body-text: $ede2c7 !default;
$color-text-accent: $white !default;
$color-code: $purple !default;
$color-nav-link: $turq !default;
$color-primary-link: $purple !default;
$color-border: $purple;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
